@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #EDE0C4;
}
::-webkit-scrollbar-thumb {
  background: #8B5A2B;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #A06B35;
}
