@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #EDE8E3;
}
::-webkit-scrollbar-thumb {
  background: #6b4423;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #8B5E3C;
}
